<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <html xmlns:th="http://www.thymeleaf.org"></html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <title>Game</title>
</head>
<body>
    <header>
        <div class="header-img"><img src="/img/logo.jpg"></div>
        <ul class="header-nav">
            <li><a th:href="@{/game/underConstruction}">OPTIONS</a></li>
            <li><a th:href="@{/game/underConstruction}">EN/ES</a></li>
        </ul>
    </header>
    <main th:object="${player}">
        <h1>Be ready for new adventure</h1>
        <h2 th:text="${player.name}"></h2>
        <h3 th:text="${player.charClass}"></h3>
        <ul class="main-menu">
<!--            <li><a th:href="@{/game/underConstruction}">NORTH</a></li>-->
<!--            <li><a th:href="@{/game/underConstruction}">EAST</a></li>-->
<!--            <li><a th:href="@{/game/underConstruction}">SOUTH</a></li>-->
<!--            <li><a th:href="@{/game/underConstruction}">WEST</a></li>-->
            <li><a th:href="@{newEnemy}">FIGHT</a></li>
            <li><a th:href="@{inventory}">INVENTORY</a></li>
            <li><a th:href="@{character}">CHARACTER</a></li>
            <li><a th:href="@{shopInventory}">SHOP</a></li>
            <li><a th:href="@{/game/index}">MAIN MENU</a></li>
        </ul>
    </main>
    <footer>
        <a th:href="@{/game/underConstruction}">ABOUT US</a>
    </footer>
</body>
</html>