<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <title>New game</title>
</head>
<body>
    <header>
        <div class="header-img"><img src="/img/logo.jpg"></div>
        <ul class="header-nav">
            <li><a th:href="@{/game/underConstruction}">OPTIONS</a></li>
            <li><a th:href="@{/game/index}">BACK TO MAIN</a></li>
            <li><a th:href="@{/game/underConstruction}">EN/ES</a></li>
        </ul>
    </header>
    <main>
        <div class="form-container">
            <form action="#" th:action="@{/game/newPlayer}" class="newGame-form">
                
                <label for="name">ENTER YOUR NAME</label>
                <input type="text" name="name" id="name">

                <div th:object="${charClass}"></div>
                <label for="charClass">CHOOSE CLASS</label>
                <select id="charClass" name="charClass">
                    <option th:each="charClass : ${classesFromController}"
                            th:value="${charClass.charClass}"
                            th:text="${charClass.charClass}"></option>
                </select>

                <input type="submit" value="START GAME" class="w3-button w3-padding-16 w3-light-grey w3-right w3-margin-right"/>
            </form>
        </div>
    </main>
    <footer>
        <a th:href="@{/game/underConstruction}">ABOUT US</a>
    </footer>
</body>
</html>

