<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <title>Game</title>
</head>
<body>
<header>
    <div class="header-img"><img src="/img/logo.jpg"></div>
    <ul class="header-nav">
        <li><a th:href="@{/game/underConstruction}">OPTIONS</a></li>
        <li><a th:href="@{/game/underConstruction}">EN/ES</a></li>
    </ul>
</header>
<main>
    <ul class="main-menu">
        <li><a th:href="@{/game/itemBuy}">BUY</a></li>
        <li><a th:href="@{/game/itemSell}">SELL</a></li>
        <li><a th:href="@{/game/index}">RETURN TO MENU</a></li>
    </ul>
</main>
<footer>
    <a th:href="@{/game/underConstruction}">ABOUT US</a>
</footer>
</body>
</html>