<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <title>Not found</title>
</head>
<body class="body-construction">
    <div class="construction-container">
        <img class="construction-img" src="/img/construction.png">
    </div>  
</body>
</html>